$marker-background-color: lighten($brand-primary, 60%);

.map {
  &-marker {
    border-radius: 50%;
    color: $brand-primary;
    background: $marker-background-color;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;

    &--station {
      text-shadow: 0 0 2px #fff;
      white-space: nowrap;
    }
    &--cluster {
      text-shadow: none;
    }

    &--small {
      box-shadow: 0 0 5px $marker-background-color;
    }
    &--medium {
      box-shadow: 0 0 10px $marker-background-color;
    }
    &--large {
      box-shadow: 0 0 15px $marker-background-color;
    }
  }
}
