$brand-primary:             #0a1054;
$border-radius:             0rem;
$border-radius-lg:          0rem;
$border-radius-sm:          0rem;

$navbar-dark-color:         rgba(255,255,255,1);







@import "bootstrap/scss/bootstrap";
@import "leaflet/dist/leaflet.css";

@import "./components/map.scss";
@import "./components/mixins.scss";

$navbar-font-height: 1.5rem;
$navbar-link-vertical-padding: 0.425rem;
$navbar-vertical-padding: 0.5rem;
$navbar-height: $navbar-font-height + 2 * $navbar-link-vertical-padding + 2 * $navbar-vertical-padding;

.full-page {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  padding-top: $navbar-height;
  z-index: -1;
}


.table .header_rotate th{
    height: 12rem;
    white-space: nowrap;
}

.table .header_rotate th div {
    @include rotate(-90)
    width: 1rem;
}
